.git
.env
.env.*
**/.oci
**/.aws
**/.azure
**/.config/gcloud
**/credentials*
**/*key*.pem
**/*secret*
README.md
aws/README.md
azure/README.md
gcp/README.md
heroku/README.md
oci/README.md
openshift/README.md
spring-cloud/README.md
